Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

configutilities-tox-flake8:
  parent: tox
  description: Run flake8 tests for configutilities
  vars:
    tox_envlist: flake8
    tox_extra_args: -c configutilities/configutilities/tox.ini

Cleanup application apply
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/clusterrole.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/clusterrolebinding.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/daemonset.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/deployment.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/role.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/rolebinding.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/serviceaccount.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/storageclass.yaml
  kubernetes/helm-charts/rbd-provisioner/values.yaml
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  e3/07108c460fd02bdf6ab8affa047805985f33ac
Due: none

Update notes for submitted changes
  87/ff8c93e69bb11b72cd860e2281582e0cb37d99
Due: none

Update notes for submitted changes
  52/6c0e5c568b4ece4e09fc8364740efd6d7862fc
Due: none

Enable configure pxeboot dhcp range option in config_controller wizard
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Enable config pxeboot dhcp range in config_controller wizard
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Cleanup application apply
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/clusterrolebinding.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/daemonset.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/deployment.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/role.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/rolebinding.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/serviceaccount.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/storageclass.yaml
  kubernetes/helm-charts/rbd-provisioner/values.yaml
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Enable PXEBoot address range option in config_controller wizard
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

removing link capacity configuration during controller config
  configutilities/configutilities/configutilities/__init__.py
  configutilities/configutilities/configutilities/common/configobjects.py
  configutilities/configutilities/configutilities/common/utils.py
  configutilities/configutilities/configutilities/common/validator.py
  configutilities/configutilities/configutilities/configfiletool.py
  controllerconfig/controllerconfig/controllerconfig/common/constants.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

removing link capacity configuration during controller config
  configutilities/configutilities/configutilities/__init__.py
  configutilities/configutilities/configutilities/common/configobjects.py
  configutilities/configutilities/configutilities/common/utils.py
  configutilities/configutilities/configutilities/common/validator.py
  configutilities/configutilities/configutilities/configfiletool.py
  controllerconfig/controllerconfig/controllerconfig/common/constants.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.share.keystoneonly.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.shareall.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.ceph
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.default
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.ipv6
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.region
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.region_nuage_vrs
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.lag.vlan
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.lag.vlan.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.nuage_vrs
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.nuage_vrs.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.security
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.security.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple.can_ips
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.ceph
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.ipv6
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.lag.vlan
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.security
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.simple
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.simplex
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.simplex_mgmt
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.static_addr
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Enable config file option for PXEBoot address range
  configutilities/configutilities/configutilities/common/validator.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Enable PXEBoot address range options in config_controller
  configutilities/configutilities/configutilities/common/validator.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Update notes for submitted changes
  2f/3e6d9915361c1ca065491418510a7680391023
Due: none

Update notes for submitted changes
  6b/2be98f0ddbbee4c507f01d509d5e42153ee606
Due: none

Update notes for submitted changes
  5f/79056bf253c3d087b26c0298ba5e3a4eeacd88
Due: none

Update notes for submitted changes
  13/a3fe62a1773919e0d42570de3c1b75616fee2c
Due: none

Update notes for submitted changes
  62/56b0d106ad97507373f1287d9ed3d292dcea6e
Due: none

Block the configuration of non-accelerated interface
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
Due: sysinv-tox-py27, sysinv-tox-flake8

crushmap update: recompile crushmap for stx-ceph/v13.2.2
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-aio-dx.bin
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-aio-sx.bin
  sysinv/sysinv/sysinv/etc/sysinv/crushmap.bin
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  46/ae58243ceaa130ebffcfd1694dcc259de19cbf
Due: none

Update notes for submitted changes
  e6/3b1d0de9efb6309117a6c2d17fd4e91ec88474
Due: none

Update notes for submitted changes
  6e/029f2a638b75422873bbc686b900bad0a3a2e3
Due: none

Update notes for submitted changes
  bc/c17bf56eabc50a161116ae4a442b6d7130ebe3
Due: none

Docker Registry Can't Deploy On Computes
  puppet-manifests/src/manifests/worker.pp
  puppet-manifests/src/modules/platform/manifests/dockerdistribution.pp
Due: none

Path conditions:
  sysinv-tox-py27: any of: sysinv/*
  sysinv-tox-flake8: any of: sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
