Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

.zuul.yaml:

---
- project:
    templates:
      - build-openstack-docs-pti
    check:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - openstack-tox-linters
        - sysinv-tox-py27
        - sysinv-tox-flake8
        - controllerconfig-tox-flake8
        - controllerconfig-tox-py27
        - controllerconfig-tox-pylint
        - configutilities-tox-flake8
        - stx-devstack-config:
            voting: false
    gate:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - openstack-tox-linters
        - sysinv-tox-py27
        - sysinv-tox-flake8
        - controllerconfig-tox-flake8
        - controllerconfig-tox-py27
        - controllerconfig-tox-pylint
        - configutilities-tox-flake8
    post:
      jobs:
        - publish-stx-api-ref
        - publish-stx-tox
        - publish-stx-releasenotes

- job:
    name: sysinv-tox-py27
    parent: tox
    description: |
      Run py27 test for sysinv
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    files:
      - sysinv/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

- job:
    name: sysinv-tox-flake8
    parent: tox
    description: |
      Run flake8 test for sysinv
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    files:
      - sysinv/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

- job:
    name: controllerconfig-tox-flake8
    parent: tox
    description: Run flake8 tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: controllerconfig-tox-py27
    parent: tox
    description: Run py27 tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: controllerconfig-tox-pylint
    parent: tox
    description: Run pylint tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: pylint
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: configutilities-tox-flake8
    parent: tox
    description: Run flake8 tests for configutilities
    files:
      - configutilities/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c configutilities/configutilities/tox.ini

- job:
    name: stx-devstack-config
    parent: stx-devstack-base
    timeout: 7800
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    vars:
      tox_envlist: functional
      devstack_services:
        horizon: false
        # StarlingX services
        fm-common: true
        fm-api: true
        # fm-rest-api: true
        # fm-mgr: true
        sysinv-api: true
        sysinv-cond: true
        tsconfig: true
        mysql: false
        postgresql: true
      devstack_plugins:
        stx-config: git://git.starlingx.io/stx-config
        stx-fault: git://git.starlingx.io/stx-fault
        stx-integ: git://git.starlingx.io/stx-integ
        stx-update: git://git.starlingx.io/stx-update

Update notes for submitted changes
  21/7b279a0a1a635bf281a6ee54664f42b9d41b94
Due: none

Platform container anti-affinity settings
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/aodh.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/panko.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  81/2c2a17c42129e7c4d25dfcb63c146f6dc6018e
Due: none

Move cinder static config to Armada manifest
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Add keystone as the Auth-backend for the kubernetes apiserver
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/modules/openstack/templates/openrc.admin.erb
  puppet-manifests/src/modules/platform/manifests/k8s_keystone_auth.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/k8s-keystone-auth.yaml.erb
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  puppet-manifests/src/modules/platform/templates/openrc.admin.erb
  puppet-manifests/src/modules/platform/templates/webhook_authz.conf.erb
  puppet-manifests/src/modules/platform/templates/webhookpolicy.json.erb
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Ceph initialization on AIO is done only in 'controller' manifests
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/manifests/storage.pp
  puppet-manifests/src/manifests/worker.pp
  puppet-manifests/src/modules/platform/manifests/ceph.pp
Due: none

Ceph initialization on AIO is done only in 'controller' manifests
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/manifests/storage.pp
  puppet-manifests/src/manifests/worker.pp
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Remove un-necessory exception log
  sysinv/sysinv/sysinv/sysinv/objects/base.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  c1/385750620d77590d9ca5a6c2a5eb952cf0eeb6
Due: none

WIP: Support ovs in container
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  puppet-manifests/src/modules/platform/manifests/vswitch.pp
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/openvswitch.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Update notes for submitted changes
  ed/58a22e039f93878f8c4ff4ca729897dff1bfe3
Due: none

Update notes for submitted changes
  b5/ef279bd5a93be942e28d98d41712f268854626
Due: none

Update notes for submitted changes
  e4/5b3fb20497e0ef17b9e119fb9d088426257ec1
Due: none

Update notes for submitted changes
  8d/b7a1bc9d9139a146f1c01a5d554768cfa980fe
Due: none

Update notes for submitted changes
  f9/90ded2116383eb3075fbc9af8e40d0a8173f12
Due: none

Support stx-openstack app install with the authed local registry
  kubernetes/helm-charts/rbd-provisioner/templates/serviceaccount.yaml
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  d9/4e998e455ca0b8b830f314e2292fade5ea7b49
Due: none

Update notes for submitted changes
  c3/4dcbb2dad010a175278f8d544c132995545739
Due: none

Update notes for submitted changes
  a6/d71ae50ec1b24a1edf9863b49597f6507e4426
Due: none

Support stx-openstack app install with the authed local registry
  kubernetes/helm-charts/rbd-provisioner/templates/serviceaccount.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  67/bcf4d1bfe8baef3d0d88f2e40c1c98d72d136c
Due: none

Update notes for submitted changes
  f6/10da837a8a612bc09b09b9009fde6a6aeae9a7
Due: none

Update notes for submitted changes
  ea/0b33e95013ea7f69ca0474c09c2eb0b9b86b40
Due: none
