Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

configutilities-tox-flake8:
  parent: tox
  description: Run flake8 tests for configutilities
  vars:
    tox_envlist: flake8
    tox_extra_args: -c configutilities/configutilities/tox.ini

Helm chart overrides cleanup
  sysinv/sysinv/sysinv/sysinv/helm/aodh.py
  sysinv/sysinv/sysinv/sysinv/helm/barbican.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/ceilometer.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/gnocchi.py
  sysinv/sysinv/sysinv/sysinv/helm/heat.py
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
  sysinv/sysinv/sysinv/sysinv/helm/ingress.py
  sysinv/sysinv/sysinv/sysinv/helm/ironic.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/libvirt.py
  sysinv/sysinv/sysinv/sysinv/helm/magnum.py
  sysinv/sysinv/sysinv/sysinv/helm/mariadb.py
  sysinv/sysinv/sysinv/sysinv/helm/memcached.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/nova_api_proxy.py
  sysinv/sysinv/sysinv/sysinv/helm/openvswitch.py
  sysinv/sysinv/sysinv/sysinv/helm/panko.py
  sysinv/sysinv/sysinv/sysinv/helm/rabbitmq.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  35/a944a65142b06068d3bdbb4365f9a106a2208f
Due: none

Update notes for submitted changes
  ff/f66fdec35390b5e1ef3e751dec0b4b8a1624dc
Due: none

Docker Registry Keystone Authentication
  controllerconfig/controllerconfig/scripts/controller_config
  puppet-manifests/src/manifests/worker.pp
  puppet-manifests/src/modules/platform/files/registry-token-server
  puppet-manifests/src/modules/platform/manifests/dockerdistribution.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  puppet-manifests/src/modules/platform/templates/dockerdistribution.conf.erb
  puppet-manifests/src/modules/platform/templates/registry-cert-extfile.erb
  puppet-manifests/src/modules/platform/templates/registry-token-server.conf.erb
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate_shell.py
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/dockerdistribution.py
  workerconfig/workerconfig/worker_config
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Update notes for submitted changes
  5c/d3d0dc02a90a83a958949859c8c8743408d81c
Due: none

Update notes for submitted changes
  28/78a81b8879613d5c2bb2e6fc30bcbf213c15e5
Due: none

Update notes for submitted changes
  41/565148dc2428860d78b70a9a4a580c8c900e54
Due: none

Update notes for submitted changes
  00/9bd77d7513ef754bd3d27e9e42fe3e1ce9b68f
Due: none

Update .gitreview for m/2019.01
  .gitreview
Due: none

Update notes for submitted changes
  2f/23ebe84cf889b4372bef4757db259662267275
Due: none

Ceph for standard: Puppet functional changes
  puppet-manifests/src/manifests/worker.pp
  puppet-manifests/src/modules/platform/lib/facter/get_ceph_monitors.rb
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/filesystem.pp
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Ceph for standard: Semnatic checks
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  a6/c51fe49e7f0703849cd2bde822ade793d7755f
Due: none

Update notes for submitted changes
  94/9bab37d7d5e5a15aee3592d81a00b59ffec822
Due: none

Trigger application reapply on host unlock/delete
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/label.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  8f/a6f8cf804b1d1044fc0ca50d3d3237d5c18a0a
Due: none

Update notes for submitted changes
  6d/a46d861bd16cf4441ba107fb178c154a8c7f57
Due: none

Path conditions:
  sysinv-tox-py27: any of: sysinv/*
  sysinv-tox-flake8: any of: sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
