Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, configutilities-tox-pylint, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-py35:
  parent: tox
  description: 'Run py35 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py35
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

configutilities-tox-flake8:
  parent: tox
  description: Run flake8 tests for configutilities
  vars:
    tox_envlist: flake8
    tox_extra_args: -c configutilities/configutilities/tox.ini

configutilities-tox-pylint:
  parent: tox
  description: Run pylint tests for configutilities
  required-projects:
  - openstack/stx-update
  vars:
    tox_envlist: pylint
    tox_extra_args: -c configutilities/configutilities/tox.ini

stx-devstack-config:
  parent: stx-devstack-base
  timeout: 7800
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: functional
    devstack_services:
      horizon: false
      fm-common: true
      fm-api: true
      sysinv-agent: true
      sysinv-cond: true
      mysql: false
  ...

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pep8:
  parent: tox
  description: 'Run pep8 test for cgts-client
  
    '
  vars:
    tox_envlist: pep8
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

Update notes for submitted changes
  38/4f0a23de0db7d88bde4d6921524c7bb4a23fea
Due: none

Update notes for submitted changes
  e5/bac7cef02b0edb93f115cb3f2eb557d0171b1a
Due: none

Update notes for submitted changes
  10/04ae82fd0290e5040542f05f851fc204956973
Due: none

Update notes for submitted changes
  91/d7422bd99059c3945a9556c51ca64ac20388e3
Due: none

Update manifests to remove openstack calls which are managed by containers
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/manifests/storage.pp
  puppet-manifests/src/manifests/worker.pp
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/platform/manifests/drbd.pp
  puppet-manifests/src/modules/platform/manifests/filesystem.pp
  puppet-manifests/src/modules/platform/manifests/haproxy.pp
  puppet-manifests/src/modules/platform/manifests/mtce.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: puppet-manifests-lint

Update notes for submitted changes
  c4/52bbf4d8d2bd0fc47ae8cd7d0fed4dde1071f7
Due: none

Update notes for submitted changes
  46/8dce4c8912a4f022e60a99d07686ec7ccbd37d
Due: none

Update notes for submitted changes
  ae/5932ed1da2289d44ecdee89be96fa53585cbdc
Due: none

Update notes for submitted changes
  f8/fc051a9bc49474251cb475bb36654174edf643
Due: none

Update notes for submitted changes
  42/29d6a1dc2d42a97f21976192a656569f7b43ad
Due: none

WIP: Support ovs in container
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  puppet-manifests/src/modules/platform/manifests/vswitch.pp
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/openvswitch.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, puppet-manifests-lint

Add replica and anti-affinity to rbd-provisioner
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/deployment.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Keystone DB record synchronization
  centos_pkg_dirs
  puppet-modules-wrs/puppet-dbsync/PKG_INFO
  puppet-modules-wrs/puppet-dbsync/centos/build_srpm.data
  puppet-modules-wrs/puppet-dbsync/centos/puppet-dbsync.spec
  puppet-modules-wrs/puppet-dbsync/src/LICENSE
  puppet-modules-wrs/puppet-dbsync/src/dbsync/LICENSE
  puppet-modules-wrs/puppet-dbsync/src/dbsync/lib/puppet/provider/dbsync_config/ini_setting.rb
  puppet-modules-wrs/puppet-dbsync/src/dbsync/lib/puppet/type/dbsync_config.rb
  puppet-modules-wrs/puppet-dbsync/src/dbsync/manifests/api.pp
  puppet-modules-wrs/puppet-dbsync/src/dbsync/manifests/init.pp
  puppet-modules-wrs/puppet-dbsync/src/dbsync/manifests/keystone/auth.pp
  puppet-modules-wrs/puppet-dbsync/src/dbsync/manifests/params.pp
Due: puppet-modules-wrs-lint

Update notes for submitted changes
  44/10e51bcc2a77d6006133029eb393912975d71f
Due: none

Refactor raw cache feature
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update notes for submitted changes
  15/8e300d5424331ede60de9c2dfd4f95055f0f60
Due: none

For stability bump size of rabbitmq PV to 1Gi
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

WIP: Support ovs in container
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  puppet-manifests/src/modules/platform/manifests/vswitch.pp
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/helm/libvirt.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/openvswitch.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, puppet-manifests-lint

Keystone DB record synchonization
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/centos/puppet-manifests.spec
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/modules/openstack/templates/keystone-policy.json.erb
  puppet-manifests/src/modules/platform/manifests/dbsync.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/puppet/dbsync.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Keystone DB record synchonization
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/fernet_repo.py
  sysinv/sysinv/sysinv/sysinv/common/fernet.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update notes for submitted changes
  cb/ecbf7f0bec6ce6ba672b8ef949d3c4fc7800c0
Due: none

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  configutilities-tox-pylint: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*
