Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

.zuul.yaml:

---
- project:
    templates:
      - build-openstack-docs-pti
    check:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - openstack-tox-linters
        - sysinv-tox-py27
        - sysinv-tox-flake8
        - controllerconfig-tox-flake8
        - controllerconfig-tox-py27
        - controllerconfig-tox-pylint
        - configutilities-tox-flake8
        - stx-devstack-config:
            voting: false
    gate:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - openstack-tox-linters
        - sysinv-tox-py27
        - sysinv-tox-flake8
        - controllerconfig-tox-flake8
        - controllerconfig-tox-py27
        - controllerconfig-tox-pylint
        - configutilities-tox-flake8
    post:
      jobs:
        - publish-stx-api-ref
        - publish-stx-tox
        - publish-stx-releasenotes

- job:
    name: sysinv-tox-py27
    parent: tox
    description: |
      Run py27 test for sysinv
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    files:
      - sysinv/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

- job:
    name: sysinv-tox-flake8
    parent: tox
    description: |
      Run flake8 test for sysinv
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    files:
      - sysinv/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

- job:
    name: controllerconfig-tox-flake8
    parent: tox
    description: Run flake8 tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: controllerconfig-tox-py27
    parent: tox
    description: Run py27 tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: controllerconfig-tox-pylint
    parent: tox
    description: Run pylint tests for controllerconfig
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
    files:
      - controllerconfig/*
    vars:
      tox_envlist: pylint
      tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

- job:
    name: configutilities-tox-flake8
    parent: tox
    description: Run flake8 tests for configutilities
    files:
      - configutilities/*
    vars:
      tox_envlist: flake8
      tox_extra_args: -c configutilities/configutilities/tox.ini

- job:
    name: stx-devstack-config
    parent: stx-devstack-base
    timeout: 7800
    required-projects:
      - openstack/stx-update
      - openstack/stx-fault
      - openstack/stx-integ
    vars:
      tox_envlist: functional
      devstack_services:
        horizon: false
        # StarlingX services
        fm-common: true
        fm-api: true
        # fm-rest-api: true
        # fm-mgr: true
        sysinv-api: true
        sysinv-cond: true
        tsconfig: true
        mysql: false
        postgresql: true
      devstack_plugins:
        stx-config: git://git.starlingx.io/stx-config
        stx-fault: git://git.starlingx.io/stx-fault
        stx-integ: git://git.starlingx.io/stx-integ
        stx-update: git://git.starlingx.io/stx-update

Update notes for submitted changes
  2e/fd898eb74e98246867dff9a831e020292cdd41
Due: none

Update notes for submitted changes
  f3/cfa7b77bebe77cb959b3c87cdb9ac53828562e
Due: none

fix wrong format of NO_PROXY in DOCKER_PROXY section when parsing configuration file
  configutilities/configutilities/configutilities/common/validator.py
Due: configutilities-tox-flake8

WIP: Support ovs in container
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  puppet-manifests/src/modules/platform/manifests/vswitch.pp
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/openvswitch.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Update notes for submitted changes
  f1/2b0bc669ce13cf8a639d1d09dfc1f70e4bc0e7
Due: none

Update notes for submitted changes
  41/618bb3cbaa082508c4ae0cd9d14d29ee215611
Due: none

Update notes for submitted changes
  59/1a21d00150cc61ec1100c17d0101eeb9989bfc
Due: none

Update notes for submitted changes
  fb/df59085cf734d8da1c9f4d34b60480e481736e
Due: none

Fix configutilities and controllerconfig installs in DevStack
  devstack/lib/stx-config
  devstack/settings
Due: none

Fix for the issue for with host-delete command failure due to typo
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Do not enforce ptp daemon running during manifest apply
  puppet-manifests/src/modules/platform/manifests/ptp.pp
Due: none

Add keystone as the Auth-backend for the kubernetes apiserver
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/modules/openstack/templates/openrc.admin.erb
  puppet-manifests/src/modules/platform/manifests/k8s_keystone_auth.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/k8s-keystone-auth.yaml.erb
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  puppet-manifests/src/modules/platform/templates/openrc.admin.erb
  puppet-manifests/src/modules/platform/templates/webhook_authz.conf.erb
  puppet-manifests/src/modules/platform/templates/webhookpolicy.json.erb
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
  sysinv/sysinv/sysinv/sysinv/openstack/common/timeutils.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-flake8

[WIP/RFC] Add chart to deploy fm rest api
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/Chart.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/_helpers.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/config.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/deployment.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/ingress.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/service.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/values.yaml
Due: none

Update notes for submitted changes
  ce/b2ae16b799832496a0d2801f79276a2926d374
Due: none

Update notes for submitted changes
  ac/efd544f0f02aa348e29a46be925436349e542d
Due: none

Update notes for submitted changes
  68/1dd797bd631536986860d609efb9828a4d1fb6
Due: none

Update notes for submitted changes
  d5/db10f6b7df537924efef684395bee3c608d23a
Due: none

Support stx-openstack app install with the authed local registry
  kubernetes/helm-charts/rbd-provisioner/templates/serviceaccount.yaml
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  5b/94294002617b18bc0f98b206a24cec38a5b929
Due: none

retry func iconfig_update_file when host peronality is none
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  0d/d4b86526609b86d8c7395a7c9af13e7f769596
Due: none
