Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

configutilities-tox-flake8:
  parent: tox
  description: Run flake8 tests for configutilities
  vars:
    tox_envlist: flake8
    tox_extra_args: -c configutilities/configutilities/tox.ini

Refactor raw cache feature
  puppet-manifests/src/modules/openstack/manifests/cinder.pp
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/cinder.py
Due: sysinv-tox-py27, sysinv-tox-flake8

[WIP] for test, do not merge
  puppet-manifests/src/modules/openstack/manifests/cinder.pp
Due: none

recompile crushmap for ceph mimic v13.2.2
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-aio-sx.txt
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-controller-model.txt
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-storage-model.txt
Due: sysinv-tox-py27, sysinv-tox-flake8

remove ceph-v10.2.6/ceph-rest-api configuration
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/modules/platform/manifests/ceph.pp
Due: none

enable ceph-mgr/restful plugin under puppet
  puppet-manifests/src/modules/platform/manifests/ceph.pp
Due: none

output log when starting mgr-restful-plugin
  puppet-manifests/src/modules/platform/manifests/ceph.pp
Due: none

use SM to manage mgr-restful-plugin
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: none

make ceph cluster monitor work with one monitor initially
  puppet-manifests/src/modules/platform/manifests/ceph.pp
Due: none

remove api/v0.1 to access to ceph mgr RESTful plugin
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-flake8

set osd__id to ceph::osd for further action
  puppet-manifests/src/modules/platform/manifests/ceph.pp
Due: none

Configure kubelet.service to be monitored by pmond
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
Due: none

Configurable Host HTTP/HTTPS Port Binding
  controllerconfig/controllerconfig/scripts/controller_config
  puppet-manifests/src/modules/openstack/manifests/horizon.pp
  puppet-manifests/src/modules/openstack/manifests/swift.pp
  puppet-manifests/src/modules/openstack/templates/lighttpd.conf.erb
  puppet-manifests/src/modules/platform/manifests/config.pp
  puppet-manifests/src/modules/platform/manifests/haproxy.pp
  puppet-manifests/src/modules/platform/manifests/helm.pp
  storageconfig/storageconfig/storage_config
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/common.py
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
  sysinv/sysinv/sysinv/sysinv/helm/helm_toolkit.py
  workerconfig/workerconfig/worker_config
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Update notes for submitted changes
  78/6c22e2a884daaf7c9690147e602be8998c6fd2
Due: none

Allow user specified registries for config_controller
  configutilities/configutilities/configutilities/common/utils.py
  configutilities/configutilities/configutilities/common/validator.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.kubernetes
  controllerconfig/controllerconfig/controllerconfig/tests/files/system_config.kubernetes
  controllerconfig/controllerconfig/controllerconfig/tests/test_system_config.py
  puppet-manifests/src/modules/platform/manifests/docker.pp
  puppet-manifests/src/modules/platform/manifests/dockerdistribution.pp
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/calico.yaml.erb
  puppet-manifests/src/modules/platform/templates/insecuredockerregistry.conf.erb
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Update notes for submitted changes
  28/9ef147f7136ab1d269bad744298f9b67189e7f
Due: none

Update notes for submitted changes
  52/1d68ef6a2a19831b67e14e5e5bf10b07323009
Due: none

Update notes for submitted changes
  35/e13285deb07ce7f179891532868a770b504e6a
Due: none

MTU set to default even if it is configured
  sysinv/sysinv/sysinv/sysinv/puppet/networking.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  56/24c74062f97c2cfaddda6d5d5cb04a10411db4
Due: none

Update notes for submitted changes
  14/cbcdb5026c1d48042fb993c2e22bf70706c8eb
Due: none

Update notes for submitted changes
  fd/a0dcd604b6f7f3d613e6a7a3a637a27a8fdf29
Due: none

Path conditions:
  sysinv-tox-py27: any of: sysinv/*
  sysinv-tox-flake8: any of: sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
