Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

configutilities-tox-flake8:
  parent: tox
  description: Run flake8 tests for configutilities
  vars:
    tox_envlist: flake8
    tox_extra_args: -c configutilities/configutilities/tox.ini

Update notes for submitted changes
  0c/865f7d21f9cca7ab89d29064b144697ffd848b
Due: none

Update notes for submitted changes
  b3/99da9d3a8ca1420e1f062ebb289c842d08e924
Due: none

Update notes for submitted changes
  aa/61a05ecdf116012f5c6874af946f91f2c8a421
Due: none

Update notes for submitted changes
  3a/697117c88d3aa1f64108f771bb13f6eb8367ef
Due: none

Decouple CEPH pools creation from sysinv
  kubernetes/helm-charts/rbd-provisioner/templates/clusterrole.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/deployment.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/role.yaml
  kubernetes/helm-charts/rbd-provisioner/templates/storageclass.yaml
  kubernetes/helm-charts/rbd-provisioner/values.yaml
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  28/4f0266f20659f125b1c40479de026da54186ca
Due: none

Main commit for Barbican integration into StarlingX.
  configutilities/centos/build_srpm.data
  configutilities/configutilities/configutilities/common/utils.py
  configutilities/configutilities/configutilities/common/validator.py
  configutilities/configutilities/configutilities/configfiletool.py
  controllerconfig/centos/build_srpm.data
  controllerconfig/controllerconfig/controllerconfig/backup_restore.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  controllerconfig/controllerconfig/controllerconfig/regionconfig.py
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.share.keystoneonly
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.share.keystoneonly.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.shareall
  controllerconfig/controllerconfig/controllerconfig/tests/files/TiS_region_config.shareall.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.region
  controllerconfig/controllerconfig/controllerconfig/tests/files/cgcs_config.region_nuage_vrs
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.lag.vlan
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.lag.vlan.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.nuage_vrs
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.nuage_vrs.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.security
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.security.result
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple.can_ips
  controllerconfig/controllerconfig/controllerconfig/tests/files/region_config.simple.result
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/management.py
  puppet-manifests/centos/puppet-manifests.spec
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/modules/openstack/manifests/barbican.pp
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/openstack/templates/keystone-policy.json.erb
  puppet-manifests/src/modules/platform/manifests/haproxy.pp
  puppet-manifests/src/modules/platform/manifests/postgresql.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  puppet-manifests/src/modules/platform/templates/remotelogging.conf.erb
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/barbican.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Update notes for submitted changes
  16/55c7918987923c2fff84c521f6616d8337697f
Due: none

Cleaning up after application removal
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  96/2af3cf013a5e2b32649afcac0d188dd9cd8451
Due: none

Update notes for submitted changes
  51/6ed975aadb1c8eb44a9c4b25324e9b12b46026
Due: none

Update notes for submitted changes
  00/7346e5ca97b9c7382002a121d61937147da19c
Due: none

FIX: "has_key" issue for Python 2/3 compatible code
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  e4/ff1ef2c36a368796be67108ddd428df9c0c1be
Due: none

Update notes for submitted changes
  15/30aef6c68a6cffbafa3d7f9a20ca07826e5df8
Due: none

Update notes for submitted changes
  dd/c8dd3bc6268209b1234457730685d5fa430cb2
Due: none

Update notes for submitted changes
  8d/4b249723d69cfda1c0ce1d8f69d2bef1d9482e
Due: none

Path conditions:
  sysinv-tox-py27: any of: sysinv/*
  sysinv-tox-flake8: any of: sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
