Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, configutilities-tox-pylint, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-py35:
  parent: tox
  description: 'Run py35 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py35
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-pylint:
  parent: tox
  description: 'Run pylint test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: pylint
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

configutilities-tox-flake8:
  parent: tox
  description: Run flake8 tests for configutilities
  vars:
    tox_envlist: flake8
    tox_extra_args: -c configutilities/configutilities/tox.ini

configutilities-tox-pylint:
  parent: tox
  description: Run pylint tests for configutilities
  required-projects:
  - openstack/stx-update
  vars:
    tox_envlist: pylint
    tox_extra_args: -c configutilities/configutilities/tox.ini

stx-devstack-config:
  parent: stx-devstack-base
  timeout: 7800
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: functional
    devstack_services:
      horizon: false
      fm-common: true
      fm-api: true
      sysinv-agent: true
      sysinv-cond: true
      mysql: false
  ...

cgtsclient-tox-py27:
  parent: tox
  description: 'Run py27 test for cgts-client
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

cgtsclient-tox-pep8:
  parent: tox
  description: 'Run pep8 test for cgts-client
  
    '
  vars:
    tox_envlist: pep8
    tox_extra_args: -c sysinv/cgts-client/cgts-client/tox.ini

[WIP] puppet-ceph: ensure radosgw systemd service is not started
  puppet-manifests/src/modules/platform/manifests/ceph.pp
Due: puppet-manifests-lint

[WIP] sysinv-common: ceph refactor crushmap_tiers_add
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

[WIP] puppet-ceph: fix aio-dx unlock issue caused by ceph-mon
  puppet-manifests/src/modules/platform/manifests/ceph.pp
Due: puppet-manifests-lint

[WIP] sysinv-common: ceph use status instead of overall_status
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

[WIP] sysinv-common: ceph incorrect parsing of osd_crush_tree output
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

[WIP] puppet-ceph: update ceph.conf with osd device path
  puppet-manifests/src/modules/platform/manifests/ceph.pp
Due: puppet-manifests-lint

[WIP] sysinv-conductor: remove api/v0.1 from ceph api endpoint
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

[WIP] puppet-sm: provision mgr-restful-plugin
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: puppet-manifests-lint

[WIP] sysinv-conductor: ceph convert pool quota None to zero
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

[WIP] sysinv-helm: remove custom ceph_config_helper_image
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

[WIP] sysinv-conductor: remove unused update_ceph_services
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

[WIP] helm: rbd-provisioner setup kube-rbd pool
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
Due: none

[WIP] sysinv-helm: ceph use rule name instead of id
  sysinv/sysinv/sysinv/sysinv/helm/ceph_pools_audit.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update notes for submitted changes
  a1/e2d1e1830c79144658c047157ce10abc59ae68
Due: none

Update notes for submitted changes
  3f/77584328a134fd0cc26bf275f9cde607f14621
Due: none

Update notes for submitted changes
  e6/5e91b2872d58450aa94df1b4c0546c4e26a270
Due: none

Update kubernetes,tiller and calico
  kubernetes/README
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/calico.yaml.erb.orig
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  puppet-manifests/src/modules/platform/templates/kubelet.conf.erb
  puppet-manifests/src/modules/platform/templates/rbac-kdd.yaml.erb
Due: puppet-manifests-lint

Fix for worker node name has some limitation
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

[WIP] Make Ceph the default Storage Backend
  controllerconfig/controllerconfig/controllerconfig/common/constants.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/persist-config/files/populate_initial_config.py
  puppet-manifests/src/modules/platform/lib/facter/is_initial_cinder_ceph_config.rb
  puppet-manifests/src/modules/platform/lib/facter/is_initial_cinder_config.rb
  puppet-manifests/src/modules/platform/lib/facter/is_initial_cinder_lvm_config.rb
  puppet-manifests/src/modules/platform/lib/facter/is_node_cinder_lvm_config.rb
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/drbd.pp
  puppet-manifests/src/modules/platform/templates/ceph.osd.create.erb
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend.py
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint

[WIP] Create Calico host endpoint and policies
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/modules/platform/manifests/firewall.pp
  puppet-manifests/src/modules/platform/templates/calico.yaml.erb
  puppet-manifests/src/modules/platform/templates/calico_oam_hep.yaml.erb
  puppet-manifests/src/modules/platform/templates/calico_oam_outbound_gnp.yaml.erb
  puppet-manifests/src/modules/platform/templates/calico_oam_svc_gnp.yaml.erb
Due: puppet-manifests-lint

[WIP] Remove some firwall rules
  puppet-manifests/src/modules/openstack/manifests/barbican.pp
  puppet-manifests/src/modules/openstack/manifests/horizon.pp
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/dcmanager.pp
  puppet-manifests/src/modules/platform/manifests/dcorch.pp
  puppet-manifests/src/modules/platform/manifests/firewall.pp
  puppet-manifests/src/modules/platform/manifests/fm.pp
  puppet-manifests/src/modules/platform/manifests/nfv.pp
  puppet-manifests/src/modules/platform/manifests/patching.pp
  puppet-manifests/src/modules/platform/manifests/smapi.pp
  puppet-manifests/src/modules/platform/manifests/sysinv.pp
Due: puppet-manifests-lint

* Ceph uprev v13.2.2 Mimic
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-aio-sx.txt
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-controller-model.txt
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-storage-model.txt
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/ceph_pools_audit.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

[WIP] Ceph uprev v13.2.2 Mimic
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-aio-sx.txt
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-controller-model.txt
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-storage-model.txt
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/ceph_pools_audit.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/rbd_provisioner.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  configutilities-tox-pylint: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*
