Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

configutilities-tox-flake8:
  parent: tox
  description: Run flake8 tests for configutilities
  vars:
    tox_envlist: flake8
    tox_extra_args: -c configutilities/configutilities/tox.ini

Store BMC password in Openstack Barbican instead of keyring.
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/hieradata/controller.yaml
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/openstack.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/barbican.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  74/baed87deef6c5565581b71875aa44d07271663
Due: none

remove --no-cache-dir for pip install since pip upgrade to 19.0
  configutilities/configutilities/tox.ini
  controllerconfig/controllerconfig/tox.ini
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Test zuul env
  controllerconfig/controllerconfig/tox.ini
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Update notes for submitted changes
  62/87c90d49bc8d68d935abaa28255e0bb59ddc01
Due: none

Update notes for submitted changes
  a0/be71beaa137e9116ad55e55d0e5ab88db87e95
Due: none

Update notes for submitted changes
  89/76f659fb26a91949b927f3e33d11ca8f3a2232
Due: none

Update notes for submitted changes
  02/1d825d4df666e723b6538ecde22ed951152e11
Due: none

Update notes for submitted changes
  2b/2782efb6ea2efc4816fe67287c8a0515916352
Due: none

Update notes for submitted changes
  f0/b393f30952aa226976c33b9ff9241283fab207
Due: none

Update notes for submitted changes
  e4/086a073b7f661d4014061f25525120c27ea679
Due: none

Update notes for submitted changes
  38/a9e5fc00a770a2228ba67f774cf8cba93caa15
Due: none

Update notes for submitted changes
  38/6750136ccdb9d2b8240ccf68fc0f0258824939
Due: none

Update notes for submitted changes
  de/474bc41c2691ba86b60bb6e1088ddc382deaa3
Due: none

Update notes for submitted changes
  d9/6ce5291c78c371e132813a514a1fb6e0994850
Due: none

Update nova helm overrides for PCI alias, passthrough, and SR-IOV
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Add docker proxy configuration for kubernetes
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  puppet-manifests/src/modules/platform/manifests/docker.pp
  puppet-manifests/src/modules/platform/templates/dockerproxy.conf.erb
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Trigger application reapply on host unlock/delete
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/label.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Ceph for standard: Add deployment model to Systsm Inventory cluster API
  sysinv/cgts-client/cgts-client/cgtsclient/v1/cluster_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/cluster.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/profile.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  1a/502b9151fadb93ae6fdc667a72f978133ed9e5
Due: none

Add docker proxy configuration for kubernetes
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  puppet-manifests/src/modules/platform/manifests/docker.pp
  puppet-manifests/src/modules/platform/templates/dockerproxy.conf.erb
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

WIP: Move ceph to use mgmt ip on AIO-SX
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Refactor raw cache feature
  puppet-manifests/src/modules/openstack/manifests/cinder.pp
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/puppet/cinder.py
Due: sysinv-tox-py27, sysinv-tox-flake8

[TEST] This commit will be abandoned.
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Path conditions:
  sysinv-tox-py27: any of: sysinv/*
  sysinv-tox-flake8: any of: sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
