Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, configutilities-tox-pylint, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  configutilities-tox-pylint: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*

Update notes for submitted changes
  6f/44da454db110f013348990eca7464a635b41d9
Due: none

[RFC] Add chart to deploy fm rest api
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/Chart.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/requirements.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/_helpers.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/bin/_fm-rest-api.sh.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/config.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/configmap-bin.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/configmap-etc.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/deployment.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/ingress.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/service.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/values.yaml
Due: none

[RFC] Add chart to deploy fm rest api
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/Chart.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/requirements.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/_helpers.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/bin/_fm-rest-api.sh.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/configmap-bin.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/configmap-etc.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/deployment.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/ingress.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/service.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/values.yaml
Due: none

Update notes for submitted changes
  cb/4b30bf56195456ac6b8bd11abf7e23f90f81a4
Due: none

Update notes for submitted changes
  a6/934ac9d27e0357d0025018077441d989679409
Due: none

Update notes for submitted changes
  61/1a68a96ab915dc4e97d39dffa5c379bbffef3d
Due: none

Unset hypervisor_type for default cirros image
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Set huge pages spec for default flavors
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Update notes for submitted changes
  74/71ef852b7c37c742ef273f0df6b8ccce3bd928
Due: none

Update notes for submitted changes
  5e/61519ac92822b959dffe63b76956cf0e9d0383
Due: none

Update notes for submitted changes
  03/b08b9722e83597797de93abef54f787b93bab5
Due: none

Update notes for submitted changes
  bf/0aa2c78d2397073baa12c2efcf3bcf2cc9d84b
Due: none

Add chart to deploy fm rest api
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/Chart.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/requirements.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/_helpers.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/bin/_fm-rest-api.sh.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/configmap-bin.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/configmap-etc.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/deployment.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/ingress.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/service.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/values.yaml
Due: none

CGTS-10703 - Disable iscsi multipath for 3PAR
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Disable iscsi multipath for 3PAR
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Fix to bring up parent interface before its alias
  puppet-manifests/src/bin/apply_network_config.sh
Due: puppet-manifests-lint

Dynamic helm plugins
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/helm/helm.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update notes for submitted changes
  57/5be13d684eb4763092bd391f41d168341dbe1f
Due: none

Update notes for submitted changes
  65/4c05df0e45aa47d18ce72e5ba003195872790f
Due: none

Update notes for submitted changes
  d8/62b931f0d33a4f1fa7d80082be9f53b5a7055d
Due: none

Update notes for submitted changes
  1b/22b5313d0618792732066a8fe47460d8ef06de
Due: none

Update notes for submitted changes
  05/ffbecdb25ccc68ca0a287e8c950cef1d336cd7
Due: none

CEPH: Adding OSD storage devices no longer need nodes to be locked
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  sysinv/cgts-client/cgts-client/cgtsclient/v1/istor_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/common.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint

Configure Openstack public endpoint fqdn
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/nova_api_proxy.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove optionality of kubernetes from manifests
  puppet-manifests/src/modules/openstack/manifests/ceilometer.pp
  puppet-manifests/src/modules/openstack/manifests/neutron.pp
  puppet-manifests/src/modules/openstack/manifests/nova.pp
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/config.pp
  puppet-manifests/src/modules/platform/manifests/dns.pp
  puppet-manifests/src/modules/platform/manifests/docker.pp
  puppet-manifests/src/modules/platform/manifests/dockerdistribution.pp
  puppet-manifests/src/modules/platform/manifests/drbd.pp
  puppet-manifests/src/modules/platform/manifests/etcd.pp
  puppet-manifests/src/modules/platform/manifests/filesystem.pp
  puppet-manifests/src/modules/platform/manifests/haproxy.pp
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/manifests/nfv.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: puppet-manifests-lint
