Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, configutilities-tox-pylint, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  configutilities-tox-pylint: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*

Update notes for submitted changes
  2f/cb4f157005ce496ce65513fa136d1dcb35353f
Due: none

Update notes for submitted changes
  86/b27b91aa950660e930a71768b3cb5e85ccee13
Due: none

Update notes for submitted changes
  5b/b4d3cc59f14cd5961a89fc4f9bb29f375260e9
Due: none

Update notes for submitted changes
  0d/2114a47988aaea8e50004d6e59527fa50909ed
Due: none

Update notes for submitted changes
  06/6dfcd8f7893c5287ca0f82e211d2cf1907ad80
Due: none

[devstack] launch sysinv-api
  .zuul.yaml
  devstack/lib/stx-config
Due: stx-devstack-config

Update notes for submitted changes
  ae/4430eb480d4ea9ab81afa4c5886356c7410c6b
Due: none

Remove img-conversions and gnocchi logical volumes from puppet
  controllerconfig/controllerconfig/controllerconfig/common/constants.py
  puppet-manifests/src/modules/platform/manifests/filesystem.pp
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_lvm.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/002_consolidated_rel15ga.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/044_istorconfig_restructure.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/052_controllerfs_restructure.py
  sysinv/sysinv/sysinv/sysinv/puppet/storage.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_backends.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, puppet-manifests-lint

Make Ceph the default Storage Backend
  sysinv/cgts-client/cgts-client/cgtsclient/v1/cluster.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/cluster_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_tier.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Add notices on Intel authored files.
  api-ref/source/conf.py
  config-gate/files/Makefile
  devstack/lib/stx-config
  devstack/override-defaults
  devstack/plugin.sh
  devstack/settings
  doc/source/conf.py
  doc/source/index.rst
  puppet-manifests/src/Makefile
  puppet-modules-wrs/puppet-dcmanager/src/Makefile
  puppet-modules-wrs/puppet-dcorch/src/Makefile
  puppet-modules-wrs/puppet-fm/src/Makefile
  puppet-modules-wrs/puppet-mtce/src/Makefile
  puppet-modules-wrs/puppet-nfv/src/Makefile
  puppet-modules-wrs/puppet-nova_api_proxy/src/Makefile
  puppet-modules-wrs/puppet-patching/src/Makefile
  puppet-modules-wrs/puppet-smapi/src/Makefile
  puppet-modules-wrs/puppet-sshd/src/Makefile
  puppet-modules-wrs/puppet-sysinv/src/Makefile
  releasenotes/notes/release-summary-6738ff2f310f9b57.yaml
  releasenotes/source/conf.py
  releasenotes/source/index.rst
  releasenotes/source/unreleased.rst
  storageconfig/storageconfig/Makefile
Due: stx-devstack-config, puppet-manifests-lint, puppet-modules-wrs-lint

Keystone DB record synchronization
  centos_pkg_dirs
  puppet-modules-wrs/puppet-dcdbsync/PKG_INFO
  puppet-modules-wrs/puppet-dcdbsync/centos/build_srpm.data
  puppet-modules-wrs/puppet-dcdbsync/centos/puppet-dcdbsync.spec
  puppet-modules-wrs/puppet-dcdbsync/src/LICENSE
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/LICENSE
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/lib/puppet/provider/dcdbsync_config/ini_setting.rb
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/lib/puppet/type/dcdbsync_config.rb
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/manifests/api.pp
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/manifests/init.pp
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/manifests/keystone/auth.pp
  puppet-modules-wrs/puppet-dcdbsync/src/dcdbsync/manifests/params.pp
Due: puppet-modules-wrs-lint

Keystone DB record synchonization
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/centos/puppet-manifests.spec
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/modules/openstack/templates/keystone-policy.json.erb
  puppet-manifests/src/modules/platform/manifests/dcdbsync.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/puppet/dcdbsync.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Update notes for submitted changes
  37/b041a04ce0312d1f5c7268429d03f5ce13cffb
Due: none

Update notes for submitted changes
  3d/c62af216df924723403837af0d4183bba357ad
Due: none

Update notes for submitted changes
  b0/0c4dd415d63e673072758e56e3a9d08b5e931a
Due: none

Update notes for submitted changes
  05/a26e906152b6f50578844af9bf310ee83fd213
Due: none

Update notes for submitted changes
  05/5e0db0c2d1222b1d19e4e89fd27efba91f5ae2
Due: none

Support ovs in container
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  puppet-manifests/src/modules/platform/manifests/vswitch.pp
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/helm/libvirt.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/openvswitch.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, puppet-manifests-lint

change mount type of armada container
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update notes for submitted changes
  bc/7f16ca7cd4eb199590cecd4d07215097de7823
Due: none

[WIP] Armada manifest updates for chart rebase
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/build_srpm.data
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none
