Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, configutilities-tox-pylint, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  configutilities-tox-pylint: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*

Update notes for submitted changes
  77/cbb985f294fbcb48c1a2946f2d63174588710e
Due: none

Update notes for submitted changes
  b9/ab8f9757ebc63a7dd99fc6c65bcb2fdc3e488a
Due: none

Update notes for submitted changes
  d6/2dd2c8389db012642787f9054fbcd90779418c
Due: none

Produce the fm-rest-api tgz file
  kubernetes/applications/stx-openstack/stx-openstack-helm/centos/stx-openstack-helm.spec
Due: none

Update notes for submitted changes
  53/48bca74120c9dbfbc451592a7d7081c5e44922
Due: none

[WIP] Add fm-rest-api chart to armada system
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
Due: none

Keystone DB record synchonization
  sysinv/sysinv/sysinv/sysinv/api/middleware/auth_token.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update notes for submitted changes
  90/182333622edef4cfb60ef2ab0fabde5d3100d8
Due: none

Add chart to deploy fm rest api
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/Chart.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/requirements.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/_helpers.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/bin/_fm-rest-api.sh.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/configmap-bin.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/configmap-etc.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/deployment.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/ingress.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/service.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/values.yaml
Due: none

Update notes for submitted changes
  f5/4af2a7d9a07dcf997cd8ba3b336ef822417db6
Due: none

Update notes for submitted changes
  ed/1c4217b12e3d7b2cf324b715bdbbd00839df2c
Due: none

Tie vswitch core changes to openstack-compute label
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/cpu.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Keystone DB record synchonization
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/fernet_repo.py
  sysinv/sysinv/sysinv/sysinv/common/fernet.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update py35 jobs to py37
  .zuul.yaml
  sysinv/sysinv/sysinv/tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update py35 jobs to py37
  .zuul.yaml
  controllerconfig/controllerconfig/tox.ini
  sysinv/sysinv/sysinv/tox.ini
  tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Update py35 jobs to py37
  .zuul.yaml
  controllerconfig/controllerconfig/tox.ini
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/test-requirements.txt
  sysinv/sysinv/sysinv/tox.ini
  tox.ini
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Put py27 and py35 jobs back on Xenial
  .zuul.yaml
Due: none

Update notes for submitted changes
  8d/3ca676cfaf5cd28c8fc15d60d90997b5089b3c
Due: none

Update notes for submitted changes
  2c/3e5963f37e3462ccef6b08c2c0bc7e9dd80041
Due: none

Update notes for submitted changes
  c9/d66fb5f42cfb3c7d63c75798d7e156741e193b
Due: none

Remove Resource Monitor ; aka rmon, from the load
  controllerconfig/controllerconfig/controllerconfig/utils.py
  puppet-manifests/src/modules/platform/manifests/mtce.pp
  puppet-manifests/src/modules/platform/templates/remotelogging.conf.erb
  sysinv/sysinv/sysinv/sysinv/tests/events_for_testing.yaml
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, puppet-manifests-lint

Optional https for containerized openstack
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/nova-api-proxy/values.yaml
  puppet-manifests/src/modules/platform/manifests/client.pp
  sysinv/cgts-client/cgts-client/cgtsclient/v1/certificate_shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/certificate.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/horizon.py
  sysinv/sysinv/sysinv/sysinv/helm/keystone.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
  sysinv/sysinv/sysinv/sysinv/helm/nova_api_proxy.py
  sysinv/sysinv/sysinv/sysinv/helm/openstack.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint

Remove img-conversions and gnocchi logical volumes from puppet
  controllerconfig/controllerconfig/controllerconfig/common/constants.py
  puppet-manifests/src/modules/platform/manifests/filesystem.pp
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/controller_fs.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_lvm.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/db/api.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/002_consolidated_rel15ga.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/044_istorconfig_restructure.py
  sysinv/sysinv/sysinv/sysinv/db/sqlalchemy/migrate_repo/versions/052_controllerfs_restructure.py
  sysinv/sysinv/sysinv/sysinv/puppet/storage.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_backends.py
  sysinv/sysinv/sysinv/sysinv/tests/api/test_storage_tier.py
  sysinv/sysinv/sysinv/sysinv/tests/db/sqlalchemy/test_migrations.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, puppet-manifests-lint

Update notes for submitted changes
  a2/01811b1a3d17d5fb14f66af65feff47527a0f6
Due: none

Make Ceph the default Storage Backend
  sysinv/cgts-client/cgts-client/cgtsclient/v1/cluster.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/cluster_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_tier.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint
