Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

sysinv-tox-py27:
  parent: tox
  description: 'Run py27 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: py27
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

sysinv-tox-flake8:
  parent: tox
  description: 'Run flake8 test for sysinv
  
    '
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  - openstack/stx-integ
  vars:
    tox_envlist: flake8
    tox_extra_args: -c sysinv/sysinv/sysinv/tox.ini

controllerconfig-tox-flake8:
  parent: tox
  description: Run flake8 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: flake8
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-py27:
  parent: tox
  description: Run py27 tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

controllerconfig-tox-pylint:
  parent: tox
  description: Run pylint tests for controllerconfig
  required-projects:
  - openstack/stx-update
  - openstack/stx-fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c controllerconfig/controllerconfig/tox.ini

configutilities-tox-flake8:
  parent: tox
  description: Run flake8 tests for configutilities
  vars:
    tox_envlist: flake8
    tox_extra_args: -c configutilities/configutilities/tox.ini

Trigger application reapply on host unlock/delete
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/label.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Prevent setuptools 40.7.0 from being used
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Prevent setuptools 40.7.0 from being used
  sysinv/sysinv/sysinv/requirements.txt
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  test-requirements.txt
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  c4/f63232dc88bd8eae5698b104011cbc7d7f98ea
Due: none

Change version of python-ldap to work with new setuptools
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/test-requirements.txt
Due: sysinv-tox-py27, sysinv-tox-flake8

Add docker proxy configuration for kubernetes
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  puppet-manifests/src/modules/platform/manifests/docker.pp
  puppet-manifests/src/modules/platform/templates/dockerproxy.conf.erb
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/utils.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Update notes for submitted changes
  3c/c2f5e1fb70159473eefe4e5141db4eab8c92b0
Due: none

Update notes for submitted changes
  47/74efeeb1673642cce9480698ba2c82241f341a
Due: none

Update notes for submitted changes
  23/f303132c9e69a16f2e0b1b63483c49fcfd11a1
Due: none

Update notes for submitted changes
  eb/225f6ebf409e84b5b5d45b46b505517eb2eedf
Due: none

Add remote storage label for nova local backing
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update notes for submitted changes
  d9/96947d252b0ea396c725622c610e5b2d920117
Due: none

Add keystone as the Auth-backend for the kubernetes apiserver
  puppet-manifests/src/manifests/controller.pp
  puppet-manifests/src/modules/openstack/templates/openrc.admin.erb
  puppet-manifests/src/modules/platform/manifests/k8s_keystone_auth.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/k8s-keystone-auth.yaml.erb
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  puppet-manifests/src/modules/platform/templates/openrc.admin.erb
  puppet-manifests/src/modules/platform/templates/webhook_authz.conf.erb
  puppet-manifests/src/modules/platform/templates/webhookpolicy.json.erb
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/common/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Support ovs in container
  configutilities/configutilities/configutilities/common/validator.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  puppet-manifests/src/modules/platform/manifests/vswitch.pp
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/openvswitch.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Add remote storage label for nova local backing
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Support ovs in container
  configutilities/configutilities/configutilities/common/validator.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  puppet-manifests/src/modules/platform/manifests/vswitch.pp
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/openvswitch.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8

Update notes for submitted changes
  52/7faa0113a49953e1f90dc35b959760b2de5f6f
Due: none

Update notes for submitted changes
  3a/30da9a88920fef4d6b185708bd5013bb8dd95c
Due: none

Update notes for submitted changes
  b7/4a02ef666aa87b5d7cd9c37af2fc7041df3895
Due: none

Update notes for submitted changes
  36/7b64ebb6063513f8db2ba5130057ed0802f3b3
Due: none

Support ovs in container
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest-no-tests.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  puppet-manifests/src/modules/platform/manifests/vswitch.pp
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/base.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
  sysinv/sysinv/sysinv/sysinv/helm/openvswitch.py
Due: sysinv-tox-py27, sysinv-tox-flake8, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Fix multi-net interface configuration
  sysinv/sysinv/sysinv/sysinv/puppet/interface.py
Due: sysinv-tox-py27, sysinv-tox-flake8

Update config
  releasenotes/source/conf.py
Due: none

Path conditions:
  sysinv-tox-py27: any of: sysinv/*
  sysinv-tox-flake8: any of: sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
