Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, configutilities-tox-pylint, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  configutilities-tox-pylint: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*

enable k8s huge page feature
  puppet-manifests/src/modules/platform/manifests/compute.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/kubelet.conf.erb
  sysinv/sysinv/sysinv/sysinv/agent/node.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Fix for the issue of worker node name limitation
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Remove unused system command "storage-usage-list"
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend_shell.py
Due: cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint

Ceph uprev v13.2.2 Mimic
  kubernetes/helm-charts/rbd-provisioner/templates/pre-install-check-ceph.yaml
  puppet-manifests/src/hieradata/controller.yaml
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/sm.pp
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-aio-sx.txt
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-controller-model.txt
  sysinv/sysinv/sysinv/etc/sysinv/crushmap-storage-model.txt
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/exception.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/helm/ceph_pools_audit.py
  sysinv/sysinv/sysinv/sysinv/helm/cinder.py
  sysinv/sysinv/sysinv/sysinv/helm/glance.py
  sysinv/sysinv/sysinv/sysinv/helm/nova.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Fix for worker node name has some limitation
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

[WIP] Create Calico host endpoint and policies
  puppet-manifests/src/modules/platform/manifests/firewall.pp
  puppet-manifests/src/modules/platform/templates/calico.yaml.erb
  puppet-manifests/src/modules/platform/templates/calico_oam_gnp.yaml.erb
  puppet-manifests/src/modules/platform/templates/calico_oam_hep.yaml.erb
Due: puppet-manifests-lint

Update notes for submitted changes
  b9/d966b7e20927951fef0f1c85732116c22b8c52
Due: none

Update notes for submitted changes
  2d/9f52fbd2a5913070739751130dfd6d6b7bf7a2
Due: none

Update notes for submitted changes
  27/573403d61d30afdd3bcf2556b261cd565c2671
Due: none

Configure SM to monitor cluster-host-ip
  puppet-manifests/src/modules/platform/manifests/sm.pp
Due: puppet-manifests-lint

Make Ceph the default Storage Backend
  controllerconfig/controllerconfig/controllerconfig/common/constants.py
  controllerconfig/controllerconfig/controllerconfig/configassistant.py
  playbookconfig/playbookconfig/playbooks/bootstrap/roles/persist-config/files/populate_initial_config.py
  puppet-manifests/src/modules/platform/lib/facter/is_initial_cinder_ceph_config.rb
  puppet-manifests/src/modules/platform/lib/facter/is_initial_cinder_config.rb
  puppet-manifests/src/modules/platform/lib/facter/is_initial_cinder_lvm_config.rb
  puppet-manifests/src/modules/platform/lib/facter/is_node_cinder_lvm_config.rb
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/drbd.pp
  puppet-manifests/src/modules/platform/templates/ceph.osd.create.erb
  sysinv/cgts-client/cgts-client/cgtsclient/v1/storage_backend.py
  sysinv/sysinv/sysinv/sysinv/agent/manager.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/ceph_mon.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/storage_ceph.py
  sysinv/sysinv/sysinv/sysinv/common/ceph.py
  sysinv/sysinv/sysinv/sysinv/common/storage_backend_conf.py
  sysinv/sysinv/sysinv/sysinv/conductor/ceph.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/ceph.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint

Container pinning on worker nodes and All-in-one servers
  puppet-manifests/src/modules/platform/lib/facter/platform_res_mem.rb
  puppet-manifests/src/modules/platform/manifests/compute.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/kubeadm.yaml.erb
  puppet-manifests/src/modules/platform/templates/systemd-system-cpuaffinity.conf.erb
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/puppet/base.py
  sysinv/sysinv/sysinv/sysinv/puppet/kubernetes.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
  worker-utils/worker-utils/affine-platform.sh
  worker-utils/worker-utils/affine-tasks.sh
  worker-utils/worker-utils/cpumap_functions.sh
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Upversion Armada SHA to be a newer image
  puppet-manifests/centos/build_srpm.data
  puppet-manifests/src/modules/platform/manifests/helm.pp
  puppet-modules-wrs/puppet-sysinv/centos/build_srpm.data
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/init.pp
  sysinv/sysinv/centos/build_srpm.data
  sysinv/sysinv/sysinv/sysinv/conductor/kube_app.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Remove some firewall rules
  api-ref/source/api-ref-sysinv-v1-config.rst
  controllerconfig/controllerconfig/controllerconfig/backup_restore.py
  controllerconfig/controllerconfig/controllerconfig/upgrades/controller.py
  puppet-manifests/src/modules/openstack/manifests/barbican.pp
  puppet-manifests/src/modules/openstack/manifests/horizon.pp
  puppet-manifests/src/modules/openstack/manifests/keystone.pp
  puppet-manifests/src/modules/platform/manifests/ceph.pp
  puppet-manifests/src/modules/platform/manifests/dcmanager.pp
  puppet-manifests/src/modules/platform/manifests/dcorch.pp
  puppet-manifests/src/modules/platform/manifests/firewall.pp
  puppet-manifests/src/modules/platform/manifests/fm.pp
  puppet-manifests/src/modules/platform/manifests/nfv.pp
  puppet-manifests/src/modules/platform/manifests/patching.pp
  puppet-manifests/src/modules/platform/manifests/smapi.pp
  puppet-manifests/src/modules/platform/manifests/sysinv.pp
  sysinv/cgts-client/cgts-client/cgtsclient/v1/client.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/firewallrules.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/firewallrules_shell.py
  sysinv/cgts-client/cgts-client/cgtsclient/v1/shell.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/__init__.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/firewallrules.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/service_parameter.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/objects/__init__.py
  sysinv/sysinv/sysinv/sysinv/objects/firewallrules.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint

Update notes for submitted changes
  92/dc955f41c92db9c7f5510d20eb83a254abcaf2
Due: none

Update notes for submitted changes
  e9/23c53fa396979694ad09c11064a8bd6773ccaa
Due: none

Update notes for submitted changes
  c8/0b8048aed79efbbd82c8a912ee5445cbc2f10b
Due: none

Update notes for submitted changes
  c7/4f21cef679e2a2e9efa9eb20e99b077c124db1
Due: none
