Repository openstack-archive/stx-config: changes, and which Zuul jobs are due for each by the changed paths.
All: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, configutilities-tox-flake8, configutilities-tox-pylint, stx-devstack-config, cgtsclient-tox-py27, cgtsclient-tox-pep8, cgtsclient-tox-pylint, puppet-manifests-lint, puppet-modules-wrs-lint

Path conditions:
  sysinv-tox-py27: any of: sysinv/sysinv/*
  sysinv-tox-py35: any of: sysinv/sysinv/*
  sysinv-tox-flake8: any of: sysinv/sysinv/*
  sysinv-tox-pylint: any of: sysinv/sysinv/*
  controllerconfig-tox-flake8: any of: controllerconfig/*
  controllerconfig-tox-py27: any of: controllerconfig/*
  controllerconfig-tox-pylint: any of: controllerconfig/*
  configutilities-tox-flake8: any of: configutilities/*
  configutilities-tox-pylint: any of: configutilities/*
  stx-devstack-config: any of: ^devstack/.*
  cgtsclient-tox-py27: any of: sysinv/cgts-client/*
  cgtsclient-tox-pep8: any of: sysinv/cgts-client/*
  cgtsclient-tox-pylint: any of: sysinv/cgts-client/*
  puppet-manifests-lint: any of: puppet-manifests/*
  puppet-modules-wrs-lint: any of: puppet-modules-wrs/*

Backup and Restore Support for containerized StarlingX
  controllerconfig/controllerconfig/controllerconfig/backup_restore.py
  controllerconfig/controllerconfig/controllerconfig/common/constants.py
  controllerconfig/controllerconfig/controllerconfig/systemconfig.py
  controllerconfig/controllerconfig/controllerconfig/utils.py
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint

Update notes for submitted changes
  67/b7d7cd428a98389f231b76bcb74d7b97bb0fe2
Due: none

Upversioning Keystone and Barbican
  controllerconfig/centos/controllerconfig.spec
  puppet-modules-wrs/puppet-dcmanager/src/dcmanager/manifests/init.pp
  puppet-modules-wrs/puppet-dcorch/src/dcorch/manifests/init.pp
  puppet-modules-wrs/puppet-fm/src/fm/manifests/init.pp
  puppet-modules-wrs/puppet-sysinv/src/sysinv/manifests/init.pp
Due: controllerconfig-tox-flake8, controllerconfig-tox-py27, controllerconfig-tox-pylint, puppet-modules-wrs-lint

Add chart to deploy fm rest api
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/Chart.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/requirements.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/_helpers.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/bin/_db-drop.sh.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/bin/_db-init.sh.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/bin/_db-sync.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/bin/_fm-rest-api.sh.tpl
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/configmap-bin.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/configmap-etc.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/deployment.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/ingress.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/job-ks-endpoints.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/templates/service.yaml
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/fm-rest-api/values.yaml
Due: none

Add fm-rest-api chart to armada system
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/common/constants.py
  sysinv/sysinv/sysinv/sysinv/helm/fm_rest_api.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Add helm chart for node feature discovery
  centos_iso_image.inc
  centos_pkg_dirs
  kubernetes/applications/node-feature-discovery/centos/build_srpm.data
  kubernetes/applications/node-feature-discovery/centos/node-feature-discovery.spec
  kubernetes/applications/node-feature-discovery/files/Makefile
  kubernetes/applications/node-feature-discovery/files/index.yaml
  kubernetes/applications/node-feature-discovery/files/repositories.yaml
  kubernetes/helm-charts/node-feature-discovery/Chart.yaml
  kubernetes/helm-charts/node-feature-discovery/README.rst
  kubernetes/helm-charts/node-feature-discovery/templates/node-feature-discovery-daemonset.json.tpl
  kubernetes/helm-charts/node-feature-discovery/templates/rbac.yaml
  kubernetes/helm-charts/node-feature-discovery/values.yaml
Due: none

Update notes for submitted changes
  df/4f459609e36031a458843e31b985388adf7943
Due: none

Update notes for submitted changes
  fc/f3fbf5f4af2dd2fadb009c1eb9ede0b782ffd2
Due: none

Remove neutron host operations in sysinv conductor
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

Update notes for submitted changes
  61/f29db0616ea24149456716fba713c32ebab096
Due: none

Update notes for submitted changes
  ef/a7c7d482222739f89aca5ae25074187b31b74e
Due: none

Update notes for submitted changes
  d8/ba7d68e908f8caba418b8d4993e2035dd78a48
Due: none

Update notes for submitted changes
  22/2b23500cd5ca10b71977dcdd3ad13905938c0b
Due: none

enable k8s huge page feature
  puppet-manifests/src/modules/platform/manifests/compute.pp
  puppet-manifests/src/modules/platform/manifests/kubernetes.pp
  puppet-manifests/src/modules/platform/templates/kubelet.conf.erb
  sysinv/sysinv/sysinv/sysinv/agent/node.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/host.py
  sysinv/sysinv/sysinv/sysinv/api/controllers/v1/utils.py
  sysinv/sysinv/sysinv/sysinv/conductor/manager.py
  sysinv/sysinv/sysinv/sysinv/conductor/rpcapi.py
  sysinv/sysinv/sysinv/sysinv/puppet/platform.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint, puppet-manifests-lint

Generate ironic overrides for helm chart
  sysinv/sysinv/sysinv/setup.cfg
  sysinv/sysinv/sysinv/sysinv/common/utils.py
  sysinv/sysinv/sysinv/sysinv/helm/ironic.py
  sysinv/sysinv/sysinv/sysinv/helm/neutron.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint

WIP: Change the way of disabling ovs container
  kubernetes/applications/stx-openstack/stx-openstack-helm/stx-openstack-helm/manifests/manifest.yaml
  sysinv/sysinv/sysinv/sysinv/helm/openvswitch.py
Due: sysinv-tox-py27, sysinv-tox-py35, sysinv-tox-flake8, sysinv-tox-pylint
